@model Entities.clsPersona

@{
    ViewData["Title"] = "Diagnostico";
}
@if (@ViewBag.MensajePositivo != null)
{
    <h5 style=" color: red">@ViewBag.MensajePositivo</h5>
    <h6>@ViewBag.FinTest</h6>
}
else if (@ViewBag.MenjaseNegativo != null)
{
    <h5 style=" color: green">@ViewBag.MensajeNegativo</h5>
    <h6>@ViewBag.FinTest</h6>
}
else
{
    <h4>Inserte sus datos para Poder mostrar el Resultado</h4>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Diagnostico">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.DniPersona" class="control-label"></label>
                <input asp-for="@Model.DniPersona" class="form-control" />
                <span asp-validation-for="@Model.DniPersona" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.NombrePersona" class="control-label"></label>
                <input asp-for="@Model.NombrePersona" class="form-control" />
                <span asp-validation-for="@Model.NombrePersona" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.ApellidosPersona" class="control-label"></label>
                <input asp-for="@Model.ApellidosPersona" class="form-control" />
                <span asp-validation-for="@Model.ApellidosPersona" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Telefono" class="control-label"></label>
                <input asp-for="@Model.Telefono" class="form-control" />
                <span asp-validation-for="@Model.Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Direccion" class="control-label"></label>
                <input asp-for="@Model.Direccion" class="form-control" />
                <span asp-validation-for="@Model.Direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.HiddenFor(m => @Model.Diagnostico)
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
}

