@model UI.Models.Index_VM


<div class="form-group">
    <form asp-action="Index">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <table class="table">
            <thead>
                <tr>
                    <td>
                        Pregunta
                    </td>
                    <td>
                        Respuesta
                    </td>
                </tr>
            </thead>
            <tbody>



                @for (int i = 0; i < @Model.preguntas.Count; i++)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(m => @Model.preguntas[i].Pregunta)
                        </td>
                        @for (int j = 0; j < @Model.respuestas.Count; j++)
                        {
                            @if (Model.respuestas.ElementAt(j).IdPregunta == Model.preguntas.ElementAt(i).IdPregunta)
                            {
                                @if (Model.preguntas.ElementAt(i).IdPregunta == 2)
                                {
                                    <td>

                                        @Html.HiddenFor(m => @Model.respuestas[j].IdRespuesta)
                                        Entre 37º y 38º
                                        @Html.RadioButtonFor(m => @Model.respuestas[j].Respuesta, "Entre 37º y 38º")
                                        <br>
                                        > 38º
                                        @Html.RadioButtonFor(m => @Model.respuestas[j].Respuesta, "> 38º")
                                        <br>
                                        No
                                        @Html.RadioButtonFor(m => @Model.respuestas[j].Respuesta, "No")

                                        <span asp-validation-for="@Model.respuestas[j].Respuesta" class="text-danger"></span>
                                    </td>

                                }
                                else
                                {
                                    <td>
                                        @Html.HiddenFor(m => @Model.respuestas[j].IdRespuesta)
                                        No
                                        @Html.RadioButtonFor(m => m.respuestas[j].Respuesta, "No")
                                        <br>
                                        Si
                                        @Html.RadioButtonFor(m => m.respuestas[j].Respuesta, "Si")

                                        <span asp-validation-for="@Model.respuestas[j].Respuesta" class="text-danger"></span>
                                    </td>
                                }
                            }

                        }
                    </tr>
                }




            </tbody>
        </table>
        <input type="submit" value="Finalizar" class="btn btn-success" />
    </form>
</div>
