@model UI.Models.Index_VM


<div class="form-group">
    <form asp-action="Index">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <table class="table">
            <thead>
                <tr>
                    <td>
                        Pregunta
                    </td>
                    <td>
                        Respuesta
                    </td>
                </tr>
            </thead>
            <tbody>


                @{
                    for (int i = 0; i < @Model.preguntas.Count; i++)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(m => @Model.preguntas[i].Pregunta)
                            </td>
                            <td>
                                @*//Todo Cambiar el ViewModel. Establecer todas las respuestas desde la base de datos*@
                                @for (int j = 0; j < @Model.preguntasConRespuestas[i].respuestas.Count; j++)
                                {@*TODO     Cambiar todos los ifs por un for que recorrar *@


                                    //<input type="radio" name=" @Model.preguntasConRespuestas[i].respuestas[j].Respuesta" value="@Model.preguntasConRespuestas[i].respuestas[j].PosibleCaso.ToString()">
                                    @Html.RadioButtonFor(m => Model.preguntasConRespuestas[i].respuestas[j].IdRespuesta, @Model.preguntasConRespuestas[i].respuestas[j].Respuesta)
                                    @Html.DisplayFor(m => Model.preguntasConRespuestas[i].respuestas[j].Respuesta)
                                    <br />
                                }
                            </td>
                        </tr>
                    }

                }


            </tbody>
        </table>
        <input type="submit" value="Finalizar" class="btn btn-success" />
    </form>
</div>
