@model UI.Models.ViewModels.Index_VM


<div class="form-group">
    <form asp-action="Index">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <table class="table">
            <thead>
                <tr>
                    <td>
                        Pregunta
                    </td>
                    <td>
                        Respuesta
                    </td>
                </tr>
            </thead>
            <tbody>


                @{
                    for (int i = 0; i < @Model.PreguntasConRespuesta.Count; i++)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(m => m.PreguntasConRespuesta[i].Pregunta)

                                @Html.HiddenFor(m => m.PreguntasConRespuesta[i].IdPregunta)
                            </td>
                            <td>
                                @*//Todo Cambiar el ViewModel. Establecer todas las respuestas desde la base de datos*@

                                @for (int j = 0; j < @Model.respuestas.Count; j++)
                                {@*TODO     Cambiar todos los ifs por un for que recorrar *@


                                    @if (@Model.PreguntasConRespuesta[i].IdPregunta == @Model.respuestas[j].IdPregunta)
                                    {
                                        
                                        @Html.RadioButtonFor(m => m.PreguntasConRespuesta[i].PosibleCaso, @Model.respuestas[j].PosibleCaso)
                                        @Html.DisplayFor(m => m.respuestas[j].Respuesta)

                                        <br />

                                    }

                                }
                            </td>
                        </tr>
                    }

                }


            </tbody>
            <input type="submit" value="Finalizar" class="btn btn-success" />
        </table>

    </form>
</div>
